.product--container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product--card {
    margin: 20px;
  }
  
  .product--card p {
    max-width: 200px;
  }
  
  .product--image {
    position: relative;
  }

  .product--image img {
    width: 250px;
  }
  
  .product--stock {
    display: grid;
    place-content: center;
    position: absolute;
    top: 10px;
    right: 20px;
    height: 80px;
  text-align: center;
    background: pink;
    padding: 10px;
    border-radius: 50%;
  }